.Dictionary {
  margin: 55px 150px;
  font-family: "Noto Sans", sans-serif;
}

.Dictionary section {
  text-align: start;
  background: rgba(249, 250, 245, 0.74);
  padding: 30px;
  border-radius: 9px;
  box-shadow: 0 10px 12px rgba(165, 152, 145, 0.404);
  margin: 20px 150px;
}

.Dictionary h1 {
  text-align: center;
  font-weight: 350;
  font-size: 32px;
  color: #6b6363;
  margin: 15px 0 20px;
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #f8e6e2, 0 0 8px #f8e1dc,
      0 0 10px #eed9d5, 0 0 12px #f7e1dd, 0 0 14px #fff5f3;
  }
  100% {
    text-shadow: 0 0 2px #fff, 0 0 4px #ffffff, 0 0 6px #fce7e2, 0 0 8px #ffeae6,
      0 0 10px #fdeae5, 0 0 12px #fffbfa, 0 0 14px #f7e6e2;
  }
}

.Dictionary form {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  font-size: 17px;
}

.Dictionary input {
  padding: 10px 10px;
  border-radius: 7px;
  font-size: 17px;
  border: 1px solid #d5bdaf;
  background-color: #ffffff;
  color: #3d3a34;
  margin: 20px 0;
  width: 250px;
}

.Dictionary button {
  background-color: #d5bdaf;
  margin: 20px 10px;
  border-radius: 7px;
  border: 1px solid #d5bdaf;
  vertical-align: middle;
}

.Dictionary .hint {
  text-align: start;
  margin-left: 185px;
  font-size: 12.5px;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .Dictionary {
    margin: 60px 15px;
    font-family: "Noto Sans", sans-serif;
  }

  .Dictionary section {
    margin: 5px 15px;
  }

  .Dictionary h1 {
    font-size: 26px;
    margin: 8px 0 12px;
  }

  .Dictionary form {
    padding: 8px 8px;
  }
  .Dictionary input {
    margin: 15px 8px;
    font-size: 16px;
  }

  .Dictionary .btn {
    margin: 15px 8px;
    font-size: 16px;
  }

  .Dictionary .hint {
    margin-left: 12px;
    font-size: 10.5px;
    opacity: 0.8;
  }
}
